## SOMPO SİGORTA CASE STUDY ÇALIŞMASI - Actuarial Data Scientist / Pricing Analyst pozisyonu
### RABİA İNCİ ERYILMAZ

In [45]:
# GEREKLİ KÜTÜPHANELER
import pandas as pd
import numpy as np
import seaborn as sns

### 1. Keşifci Veri Analizi

In [46]:
# Veri seti yükleme
data= pd.read_csv("Case_Study_Data.xlsx - DATA.csv")
df= data.copy()
df.head(10)

,TEKLİF NUMARASI,HASARSIZLIK İNDİRİMİ KADEMESİ,TRAFİK BASAMAK KODU,MARKA,ARAÇ YAŞI,MODEL YILI,YAKIT TİPİ,İL,İLÇE,YAŞ,TEKLİF PRİMİ,PORTFÖY AYRIMI,SİGORTALI TİPİ,TEKLİF ONAY DURUMU
0,15235,0%,7,MERCEDES,4,2020,DIZEL,ANKARA,KEÇİÖREN,29,18.743,YENİLEME,O,T
1,15236,30%,8,MERCEDES,1,2023,BENZİN,İSTANBUL,TUZLA,41,13.778,YENİ İŞ,O,T
2,15237,30%,6,FORD,2,2022,DIZEL,İSTANBUL,SULTANGAZİ,43,7.814,YENİ İŞ,O,T
3,15238,30%,5,RENAULT,1,2023,DIZEL,İZMİR,NaN,0,17.733,YENİ İŞ,T,T
4,15239,30%,7,VOLKSWAGEN,1,2023,BENZİN,ANKARA,ÇANKAYA,43,10.306,YENİ İŞ,O,T
5,15240,40%,8,VOLKSWAGEN,5,2019,DIZEL,İSTANBUL,BAHÇELİEVLER,63,9.121,YENİ İŞ,O,T
6,15241,0%,7,FORD,3,2021,DIZEL,İSTANBUL,SULTANBEYLİ,58,13.043,İLK DEFA SİGORTALI,O,T
7,15242,0%,5,HONDA,3,2021,BENZİN,İSTANBUL,BAŞAKŞEHİR,29,10.301,İLK DEFA SİGORTALI,O,T
8,15243,0%,7,VOLKSWAGEN,1,2023,BENZİN,İSTANBUL,BAĞCILAR,53,25.179,İLK DEFA SİGORTALI,O,T
9,15244,0%,8,TOYOTA,1,2023,BENZİN,İSTANBUL,ŞİLE,44,12.974,İLK DEFA SİGORTALI,O,T

#### Veri seti bilgisi:
| Sütun Adı                     | Açıklama                                                                                                                                           |
|--------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------|
| TEKLİF NUMARASI                | Teklifin sistemdeki unique numarası                                                                                                               |
| HASARSIZLIK İNDİRİMİ KADEMESİ  | Müşterinin kasko hasarsızlık indirimi kademesini temsil eder. (0 ile başlar, hasarsız her yıl artış gösterir, hasar durumunda düşer)              |
| TRAFİK BASAMAK KODU            | Müşterinin trafik hasarsızlık basamağını temsil eder. (4 ile başlar, hasarsız her yıl artış gösterir, hasar durumunda düşer)                      |
| MARKA                          | Aracın markası                                                                                                                                   |
| ARAÇ YAŞI                      | Aracın yaşı                                                                                                                                      |
| MODEL YILI                     | Aracın model yılı                                                                                                                                |
| YAKIT TİPİ                     | Aracın yakıt tipi                                                                                                                                |
| İL                             | Sigortalının ili                                                                                                                                 |
| İLÇE                           | Sigortalının ilçesi                                                                                                                              |
| YAŞ                            | Sigortalının yaşı                                                                                                                                |
| TEKLİF PRİMİ                   | Sigortalının teklif primi                                                                                                                        |
| PORTFÖY AYRIMI                 | Poliçenin şirkette tekabül ettiği portföy alanı                                                                                                  |
| SİGORTALI TİPİ                 | Sigortalının özel - tüzel müşteri olma durumu ayrımı (**O= bireysel sigortalı, T= kurumsal sigortalı**)                                                                                            |
| TEKLİF ONAY DURUMU             | Sigortalıya sunulan teklifin onaylanma veya onaylanmama durumu (**T → Onaylanmadı, P → Onaylandı**)                                              |

In [47]:
# Veri setine genel bakış
df.shape

(19085, 14)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19085 entries, 0 to 19084
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   TEKLİF NUMARASI                19085 non-null  int64
 1   HASARSIZLIK İNDİRİMİ KADEMESİ  19085 non-null  object
 2   TRAFİK BASAMAK KODU            19085 non-null  int64
 3   MARKA                          19085 non-null  object
 4   ARAÇ YAŞI                      19085 non-null  int64
 5   MODEL YILI                     19085 non-null  int64
 6   YAKIT TİPİ                     19085 non-null  object
 7   İL                             19085 non-null  object
 8   İLÇE                           13830 non-null  object
 9   YAŞ                            19085 non-null  int64
 10  TEKLİF PRİMİ                   19085 non-null  float64
 11  PORTFÖY AYRIMI                 19085 non-null  object
 12  SİGORTALI TİPİ                 19085 non-null  object
 13  TEKLİF ONAY DURUMU             19085 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 2.0+ MB

In [49]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
TEKLİF NUMARASI,19085.0,24910.144040,5584.407597,15235.000,20079.000,24907.000,29749.000,34570.000
TRAFİK BASAMAK KODU,19085.0,5.849044,1.410988,1.000,5.000,6.000,7.000,8.000
ARAÇ YAŞI,19085.0,2.572334,1.379313,0.000,1.000,2.000,4.000,5.000
MODEL YILI,19085.0,2021.427666,1.379313,2019.000,2020.000,2022.000,2023.000,2024.000
YAŞ,19085.0,30.695048,20.837731,0.000,0.000,36.000,47.000,64.000
TEKLİF PRİMİ,19085.0,14.393647,15.957490,2.748,8.654,11.048,15.243,646.562

In [50]:
# eksik değer kontrolü
df.isnull().sum()

TEKLİF NUMARASI                     0
HASARSIZLIK İNDİRİMİ KADEMESİ       0
TRAFİK BASAMAK KODU                 0
MARKA                               0
ARAÇ YAŞI                           0
MODEL YILI                          0
YAKIT TİPİ                          0
İL                                  0
İLÇE                             5255
YAŞ                                 0
TEKLİF PRİMİ                        0
PORTFÖY AYRIMI                      0
SİGORTALI TİPİ                      0
TEKLİF ONAY DURUMU                  0
dtype: int64

In [51]:
# "İLÇE" sütununda boş (NaN) olan satırlara bakalım
missing_ilce = df[df["İLÇE"].isnull()]
missing_ilce

,TEKLİF NUMARASI,HASARSIZLIK İNDİRİMİ KADEMESİ,TRAFİK BASAMAK KODU,MARKA,ARAÇ YAŞI,MODEL YILI,YAKIT TİPİ,İL,İLÇE,YAŞ,TEKLİF PRİMİ,PORTFÖY AYRIMI,SİGORTALI TİPİ,TEKLİF ONAY DURUMU
3,15238,30%,5,RENAULT,1,2023,DIZEL,İZMİR,NaN,0,17.733,YENİ İŞ,T,T
11,15246,40%,6,MERCEDES,2,2022,DIZEL,ANKARA,NaN,0,22.488,YENİ İŞ,T,T
15,15250,30%,6,VOLKSWAGEN,2,2022,BENZİN,ANKARA,NaN,0,18.105,YENİ İŞ,T,P
16,15251,30%,4,FORD,2,2022,DIZEL,ANKARA,NaN,0,10.419,YENİ İŞ,T,T
18,15253,50%,7,FORD,3,2021,DIZEL,ANKARA,NaN,0,13.921,YENİ İŞ,T,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19071,34557,30%,5,RENAULT,1,2023,DIZEL,İSTANBUL,NaN,0,10.335,YENİ İŞ,T,T
19075,34561,0%,1,MERCEDES,5,2019,DIZEL,İSTANBUL,NaN,0,65.370,İLK DEFA SİGORTALI,T,T
19076,34562,0%,7,MERCEDES,3,2021,DIZEL,ANKARA,NaN,0,24.612,İLK DEFA SİGORTALI,T,T
19078,34564,0%,7,VOLKSWAGEN,4,2020,BENZİN,İSTANBUL,NaN,0,23.763,YENİ İŞ,T,T
19080,34566,30%,5,FORD,1,2023,DIZEL,ANKARA,NaN,0,61.708,YENİ İŞ,T,T

In [52]:
# Her 4 kayıttan 1 nin neredeyse ilçe bilgisi eksik
# İlçe bilgisi boş olan satırları "EKSİK" diye giricem sonrasında model aşamsında ilçe değişkenin modele olan etkisine bakacağım. Etkisi düşükse ilçe sütununu veri sütunundan kaldırıcam

In [53]:
df["İLÇE"] = df["İLÇE"].fillna("EKSİK")
df["İLÇE"].value_counts().head(10)

İLÇE
EKSİK           5255
ÇANKAYA          971
YENİMAHALLE      497
ETİMESGUT        465
BAŞAKŞEHİR       454
KÜÇÜKÇEKMECE     453
KADIKÖY          428
ÜMRANİYE         401
PENDİK           394
ESENYURT         392
Name: count, dtype: int64

In [54]:
df.isnull().sum()

TEKLİF NUMARASI                  0
HASARSIZLIK İNDİRİMİ KADEMESİ    0
TRAFİK BASAMAK KODU              0
MARKA                            0
ARAÇ YAŞI                        0
MODEL YILI                       0
YAKIT TİPİ                       0
İL                               0
İLÇE                             0
YAŞ                              0
TEKLİF PRİMİ                     0
PORTFÖY AYRIMI                   0
SİGORTALI TİPİ                   0
TEKLİF ONAY DURUMU               0
dtype: int64

In [62]:
# "TEKLİF NUMARASI" için tekrar eden değer kontrolü yapalım(duplicates)
tekrar_sayisi=df["TEKLİF NUMARASI"].duplicated()
tekrar_sayisi.sum()

0

In [ ]:
# Hedef değişkenimizi "TEKLİF ONAY DURUMU" P=1 (onaylandı), T=0 (onaylanmadı), formatında güncelleyim böylelikle int formatı elde etmiş oluruz
# 0- 1 çevirme sebebimiz model uyumluluğunu artırmak
df["TEKLİF ONAY DURUMU"]=(df["TEKLİF ONAY DURUMU"].astype(str).str.upper()=="P").astype(int)

In [56]:
df.head(20)

,TEKLİF NUMARASI,HASARSIZLIK İNDİRİMİ KADEMESİ,TRAFİK BASAMAK KODU,MARKA,ARAÇ YAŞI,MODEL YILI,YAKIT TİPİ,İL,İLÇE,YAŞ,TEKLİF PRİMİ,PORTFÖY AYRIMI,SİGORTALI TİPİ,TEKLİF ONAY DURUMU
0,15235,0%,7,MERCEDES,4,2020,DIZEL,ANKARA,KEÇİÖREN,29,18.743,YENİLEME,O,0
1,15236,30%,8,MERCEDES,1,2023,BENZİN,İSTANBUL,TUZLA,41,13.778,YENİ İŞ,O,0
2,15237,30%,6,FORD,2,2022,DIZEL,İSTANBUL,SULTANGAZİ,43,7.814,YENİ İŞ,O,0
3,15238,30%,5,RENAULT,1,2023,DIZEL,İZMİR,EKSİK,0,17.733,YENİ İŞ,T,0
4,15239,30%,7,VOLKSWAGEN,1,2023,BENZİN,ANKARA,ÇANKAYA,43,10.306,YENİ İŞ,O,0
5,15240,40%,8,VOLKSWAGEN,5,2019,DIZEL,İSTANBUL,BAHÇELİEVLER,63,9.121,YENİ İŞ,O,0
6,15241,0%,7,FORD,3,2021,DIZEL,İSTANBUL,SULTANBEYLİ,58,13.043,İLK DEFA SİGORTALI,O,0
7,15242,0%,5,HONDA,3,2021,BENZİN,İSTANBUL,BAŞAKŞEHİR,29,10.301,İLK DEFA SİGORTALI,O,0
8,15243,0%,7,VOLKSWAGEN,1,2023,BENZİN,İSTANBUL,BAĞCILAR,53,25.179,İLK DEFA SİGORTALI,O,0
9,15244,0%,8,TOYOTA,1,2023,BENZİN,İSTANBUL,ŞİLE,44,12.974,İLK DEFA SİGORTALI,O,0
10,15245,0%,4,VOLKSWAGEN,3,2021,BENZİN,İSTANBUL,KARTAL,28,19.233,İLK DEFA SİGORTALI,O,0
11,15246,40%,6,MERCEDES,2,2022,DIZEL,ANKARA,EKSİK,0,22.488,YENİ İŞ,T,0
12,15247,0%,4,HONDA,5,2019,BENZİN,ANKARA,MAMAK,32,17.479,İLK DEFA SİGORTALI,O,0
13,15248,40%,6,RENAULT,2,2022,DIZEL,İSTANBUL,BAĞCILAR,49,7.796,YENİ İŞ,O,1
14,15249,50%,7,VOLKSWAGEN,5,2019,DIZEL,İSTANBUL,GÜNGÖREN,48,12.875,YENİ İŞ,O,0
15,15250,30%,6,VOLKSWAGEN,2,2022,BENZİN,ANKARA,EKSİK,0,18.105,YENİ İŞ,T,1
16,15251,30%,4,FORD,2,2022,DIZEL,ANKARA,EKSİK,0,10.419,YENİ İŞ,T,0
17,15252,0%,4,FORD,2,2022,DIZEL,ANKARA,ALTINDAĞ,53,7.196,İLK DEFA SİGORTALI,O,0
18,15253,50%,7,FORD,3,2021,DIZEL,ANKARA,EKSİK,0,13.921,YENİ İŞ,T,1
19,15254,0%,7,MERCEDES,4,2020,BENZİN,ANKARA,EKSİK,0,17.738,YENİ İŞ,T,0

In [65]:
# şimdi Teklif onay durumu sütunun kendi içindeki oranına bakalım
class_counts = df["TEKLİF ONAY DURUMU"].value_counts(dropna=False) \
                 .rename_axis("ONAY_DURUMU").reset_index(name="Adet")
class_counts["Oran (%)"] = (class_counts["Adet"] / len(df) * 100).round(2)

class_counts

   ONAY_DURUMU   Adet  Oran (%)
0            0  16711     87.56
1            1   2374     12.44

Teklif onay durumuna baktığımızda dağılım dengesiz bu yüzden accuracy yanılabilir, model seçiminde buna dikkat edilmeli

In [66]:
# Teklif primi sütunu inceleyim. Z-score ile aykırı değerlere bakalım
mean_ = df["TEKLİF PRİMİ"].mean()
std_  = df["TEKLİF PRİMİ"].std(ddof=1)
df["prim_z"] = (df["TEKLİF PRİMİ"] - mean_) / std_

In [ ]:
# Model yılı- Araç yaşı sütunları kontrolü 2025 yılı referans alınarak
fark = 2025 - df["MODEL YILI"]
kontrol_2025 = fark == df["ARAÇ YAŞI"]   # True/False seri
kontrol_2025.all()  # hepsi eşit mi?

False

In [ ]:
# 2024 yılı baz alınarak
fark = 2024 - df["MODEL YILI"]
kontrol_2024 = fark == df["ARAÇ YAŞI"]   # True/False seri
kontrol_2024.all()  # hepsi eşit mi?

True

Sonuç: 2024 yılına dayalı bir veri seti ve model yılı ile araç yaşı sütunları tam eşleşme gösterdiğinden veri setinde sadece bir sütun kullanılabilir. Modelde gereksiz karmaşıklık çıkarmaması adına